/*
 * Empty Stylesheet file.
 */


*{
    -fx-font-family: Roboto;   
}

.jfx-button{
    -jfx-button-type: RAISED;
    -fx-opacity: 0.8;
    -fx-content-display: left;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-alignment:CENTER;
}

.jfx-text-field {
    -fx-font-size: 12.0px;
    -fx-pref-height: 26px;
    -fx-min-height: 26px;
    -fx-max-height: 26px;
    -fx-alignment: TOP_LEFT;
    -jfx-focus-color: #09b6bc;
    -jfx-unfocus-color:#4d4d4d ;
    -fx-text-fill: black;
    -fx-prompt-text-fill:#4d4d4d;
}
/***************************LogIn*************************/
.jfx-btn-iniciarSesion{-fx-background-color: #4497BE;}
.jfx-btn-newCuenta{-fx-background-color: #35A1BE;}

.jfx-btn-eyeShow {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size:contain;
    -fx-background-radius: 50;
    -fx-background-size:30;
    -fx-background-image : url("../resources/Show.png");
}
.jfx-btn-eyeHide {
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size:contain;
    -fx-background-radius: 50;
    -fx-background-size:30;
    -fx-background-image : url("../resources/Hide.png");
}


/***************************Menu*************************/

.jfx-toolbar{
    -fx-background-color: #2AA9BD;
    -fx-min-height:40;
}

.toolbar-label{
    -fx-background-color: transparent;
    -fx-font-size: 20.0px;
    -fx-padding: 5 0 5 0;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-text-transform:uppercase;
}

.jfx-btn-redactar{-fx-background-color: #4497BE;}
.jfx-btn-enviados{-fx-background-color: #35A1BE;}
.jfx-btn-pendiente{-fx-background-color: #27ABBD;}
.jfx-btn-notificaciones{-fx-background-color: #20B0BD;}
.jfx-btn-cerrarsesion{-fx-background-color: #14B8BC;}
.jfx-btn-salir{-fx-background-color: #E5472E;}


.jfx-btn-redactar > ImageView{-fx-image: url("../resources/redactar.png");}
.jfx-btn-enviados > ImageView{-fx-image: url("../resources/enviar.png");}
.jfx-btn-pendiente > ImageView{-fx-image: url("../resources/pendiente.png");}
.jfx-btn-notificaciones > ImageView{-fx-image: url("../resources/notificaciones.png");}
.jfx-btn-cerrarsesion > ImageView{-fx-image: url("../resources/cerrarSesion.png");}
.jfx-btn-salir > ImageView{-fx-image: url("../resources/Salida.png");}

.jfx-image-usuario{-fx-image:url("../resources/Usuario.png");}

.jfx-contenedor-principal {
    -fx-background-color:#DFDEDC;
    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 10.0, 0.7, 0.0,1.5);
    -fx-padding: 25 15 15 15;
}

.jfx-contenedor-usu {
    -fx-background-color:white;
    -fx-background-radius: 4.0;
    -fx-effect: dropshadow(gaussian, rgb(0.0, 0.0, 0.0, 0.15), 10.0, 0.7, 0.0,1.5);
    -fx-padding: 25 15 15 15;
}

.jfx-fondo {
    -fx-background-color: #DFDEDC;
    -fx-opacity: 0.8;
}
/***************************Correos*************************/
.jfx-btn-generar{-fx-background-color: #2196F3;}
.jfx-btn-cargar{-fx-background-color: #00bcd4;}
.jfx-btn-adjuntar{-fx-background-color: #00bcd4;}

.jfx-btn-generar > ImageView{-fx-image: url("../resources/Generar.png");}
.jfx-btn-cargar > ImageView{-fx-image: url("../resources/Cargar.png");}
.jfx-btn-adjuntar > ImageView{-fx-image: url("../resources/Adjunto.png");}

/***************************Procesos Noti*************************/

.jfx-panelfondo {
    -fx-background-color: #2AA9BD;
    -fx-opacity: 0.8;
}
.jfx-panelfondo > AnchorPane{
    -fx-background-color: White;
    -fx-border-color: #97a692;
    -fx-border-width: 10px;
}

.jfx-titulo-label{
    -fx-font-size: 20.0px;
    -fx-padding: 5 0 5 0;
    -fx-text-fill: #2AA9BD;
    -fx-font-weight: bold; 
    /*-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.6), 2, 0.0, 1, 2);*/
}
.jfx-subtitulo-label{
    -fx-font-size: 14.0px;
    -fx-text-fill: #2AA9BD;
    -fx-font-weight: bold; 
}

.jfx-btn-nuevo{-fx-background-color: #4497BE;}
.jfx-btn-visualisar{-fx-background-color: #2196F3;}
.jfx-btn-guardar{-fx-background-color: #00bcd4;}

.jfx-btn-nuevo > ImageView{-fx-image: url("../resources/Nuevo.png");}
.jfx-btn-visualisar > ImageView{-fx-image: url("../resources/visualizar.png");}
.jfx-btn-guardar > ImageView{-fx-image: url("../resources/Guardar.png");}


.jfx-btnimg-tbvvisualisar{
    -fx-opacity: 0.8;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-background-size: contain;
    -fx-background-color: #154762;
    -fx-background-image : url("../resources/visualizar.png");
}

.table-cell {     
    -fx-padding: 0.5em 0.5em 0.1em 0.3em;
    -fx-border-color: -fx-box-border -fx-box-border transparent transparent;  
    -fx-font: 13px "Roboto";    
    -fx-border-insets: 0;
}

.table-view.filler{
   -fx-background-color: transparent;
   -fx-border-insets: 10
}

.table-view:focused{
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: linear-gradient(#2AA9BD 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-text-fill: black;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #79B5E2;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;   
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #97a692;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em;   
}

.table-row-cell:selected {
    -fx-background-color: #2AA9BD;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background, 
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}

.table-view > .virtual-flow > .scroll-bar > .increment-button, 
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}